.result-list{
    display:flex;
    flex-wrap: wrap;
    margin:20px;
}

.show-result {
    width: 250px;
    list-style: none;
    background-color: $primaryColor50;
    margin:20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: $fontTitle;
}



.show-result--favorite {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color:  $primaryColor100;
}

