.page__header{
    height: 80px;
    font-family: $fontTitle;
    font-size: 20px;
    font-weight: 700;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color:$primaryColor500;
    color: white;
    padding: 15px;
}

.header__section{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.header__img{
    height: 70px;
    margin:0 20px;
}

.searcher{
    background-color:  $primaryColor300;
    border-radius: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    color: $primaryColor100;
    margin:5px;
}

.header__input{
    background-color: $primaryColor300;
    border:1px solid $primaryColor200;
    margin:0 10px;
    color:white;
}

.button{
    background-color: $primaryColor300;
    color:white;
    border:0;
}