.page__main{
    display:flex;
    flex-direction: row;
}

.main__favorites{
    padding:20px;
    min-width: 220px;
}

.message{
    list-style: none;
    color: $primaryColor500;
    font-family: $fontTitle;
    font-size: 24px;
    text-align: center;

}

.favorite__title{
    font-family: $fontTitle;
    color:$primaryColor500;
    padding-bottom: 5px;
    border-bottom: 2px solid $primaryColor500;
    margin-bottom: 20px;
}

.favorite-item{
    list-style: none;
    display:flex;
    align-items: center;
    margin-bottom:10px;
}

.favorite-item__img{
    height: 100px;
    margin-right: 15px;
}

.favorite-item__title{
    font-family: $fontText;
    font-size: 18px;
    color: $primaryColor300;
}

.favorite__remove-btn{
    font-size: 18px;
    margin: 15px;
    color: $primaryColor300; 
}
