$fontTitle: 'Play', sans-serif;
$fontText: 'Roboto', sans-serif;

$primaryColor50:#e9e6f7;
$primaryColor100:#b0a9d1;
$primaryColor200:#4b3f84;
$primaryColor300: #2b2256;
$primaryColor500:#171230;
$textColor: white;